body {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

header{
    background-color: #2E2E3A;
    color: #fff;
    text-align: center;
    padding: 1rem;
}

/* Media query for mobile devices */
@media (max-width: 768px) {
    /* Adjust header and footer padding and font size */
    header, footer {
        padding: 0.5rem;
        font-size: 14px;
    }
}

footer {
    background-color: #2E2E3A;
    color: #fff;
    text-align: center;
    padding: 1rem;
    position: fixed; /* Ændrer positionen til fast */
    bottom: 0; /* Flytter footer til bunden af siden */
    width: 80%;
}

main {
    padding: 2rem;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    min-height: calc(0vh - 3rem); 
}

section {
    text-align: center;
    margin: 20px;

}

.orangeknap {
background-color:#FF8811;
}

button {
    width: auto;
    height: auto;
    padding: 20px 20px;
    font-size: 20px;
    margin: 20px;
    background-color: black; /* Grøn farve - kan ændres */
    color: white;
    border: none;
    border-radius: 15px;
    cursor: pointer;
}

section img {
    width: 300px; /* Ændr denne værdi efter behov */
    height: auto; /* Dette bevarer billedets aspektratio */

}
.image-container {
    display: flex;
    justify-content: center; /* Centrer indhold vandret */
    align-items: center; /* Centrer indhold lodret */
    width: 100%;
    height: 100%;
}

.img {
    width: 200px;
    height: 250px;
    margin-right: 10px;
}
.fællesskab{
    width: 200px;
    height: 150px;
    margin-right: 10px;
}

        body {
            font-family: Arial, sans-serif;
            margin: 20px;
        }

        form {
            max-width: 400px;
            margin: auto;
        }

        label {
            display: block;
            margin-bottom: 8px;
        }

        input, select {
            width: 100%;
            padding: 8px;
            margin-bottom: 12px;
            box-sizing: border-box;
        }

        button {
            background-color: #2E2E3A;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }
        
        .custom-body {
            display: flex;
            flex-direction: column;
            min-height: 100vh;
        }
 
        .custom-body form {
            max-width: 400px;
            padding: 20px;
            width: 80%;
        }

        
        .custom-body input,
        .custom-body select {
            width: 100%;
            padding: 8px;
            margin-bottom: 12px;
            box-sizing: border-box;
        }
        
        .custom-body button {
            background-color: #FF8811;
            color: white;
            padding: 10px 15px;
            border: none;
            border-radius: 4px;
            cursor: pointer;
        }

.footer-link {
    color: white;
    text-decoration: none;
    margin: 0 10px;
}

.footer-link:hover {
    text-decoration: underline;
    cursor: pointer;
}


#profil {
    background-color: #f4f4f4;
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
    text-align: center;
    margin-top: 10%;
}

#profil p {
    color: black;
    margin-bottom: 40px;
}

.calendar {
    background-color: whitesmoke;
    border: 2px solid #000; 
    border-radius: 50px;
    padding: 20px; 
    text-align: center;
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 70%; 
    overflow: auto; 
}

.calendar h2 {
    font-size: 18px; /* Juster tekststørrelsen for overskriften */
    text-align: center;
}

table {
    width: 100%;
}

table td {
    padding: 9px; /* Juster tekstafstand i celler */
}

table td:nth-child(even) {
    background-color: #ff8c00; 
    color: black; 
}

table td:hover {
    background-color: #ff8c00;
    color: white;
    cursor:crosshair;
}

.bestem {
    text-align: center;
    background-color: #f4f4f4;
    padding: 10px;
    border: 1px solid black;
    border-radius: 10px;
    position: absolute;
    top: 40%; /* Juster top-positionen efter behov */
    left: 50%;
    transform: translate(-50%, 10%);
    width: 50%; /* Juster bredden efter behov */
    max-height: 40vh; /* Fast højde med scroll, juster efter behov */
    overflow: auto; /* Tilføj scroll, hvis indholdet overskrider fast højde */
}

.choice {
    margin: 10px 0;
}

#chat-container {
    background-color: #fff;
    border: 1px solid #ccc;
    border-radius: 5px;
    padding: 10px;
    max-width: 400px;
    margin-top: 10%;
}

.message {
    background-color: #f4f4f4;
    color: black;
    padding: 10px;
    margin: 5px 0;
    border-radius: 5px;
    max-width: 70%;
}

#message-input {
    width: 70%;
    padding: 10px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

#send-button {
    padding: 10px 20px;
    background-color: #ff8c00;
    color: #fff;
    border: none;
    border-radius: 5px;
    cursor: pointer;
}

#femunge {
    width: 50%; /* Juster bredden efter dine behov */
    max-width: 100%;
    height: auto;
    margin: 30px auto; /* Centrer billedet vandret og tilføj 10px margen over og under */
    display: block; /* Gør billedet til en blok for at centrere det korrekt */
}

#paymentForm {
margin-top: 10%;
}